/* Reset some default styling */
body, h1, h2, h3, p, ul, li, form, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

p, a{
    font-size: 1.3rem;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.1;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

header {
    background: rgb(1, 1, 97);
    color: #fff;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
}

.intro {
    font-size: 1.7rem;
}

#first1 {
    color: #ff0;
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
}

#first2 {
    text-align: left;
    margin-left: 150px;
    margin-top: 15px;
    position: absolute;
}

#first3 {
    color: rgb(161, 161, 161);
    text-decoration: none;
    position: absolute;
    margin-top: 20px;
    right: 10px;
    font-size: 1rem;
}

#first3:hover {
    color: white;
}

#block1 {
    background: rgb(200, 200, 200);
    color: rgb(1, 1, 131);
    margin: 0;
    position: absolute;
    height: 70px;
    width: 60px;
    text-align: center;
    z-index: 1;
}

#block2 {
    background: rgb(1, 1, 131);
    color: rgb(200, 200, 200);
    margin: 0;
    position: absolute;
    height: 70px;
    width: 100% ;
    text-indent: 68px;
}

#word {
    position: absolute;
    margin-top: 55px;
    font-family: Arial;
    color: rgb(200, 200, 200);
    text-align: left;
}

#word p{
    font-size: 0.8rem;
}

#content {
    color: #fff;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    text-align: center;
    position: relative;
}


.threads {
    position: absolute;
}

.threads p {
    font-size: 0.8rem;
}

footer {
    position: absolute;
    bottom: 0;
}

.comment {
    width: 100%;
}

.comment p {
    margin-top: 10px;
}
.c1 {
    color:rgb(200,200,200)
}

.c2 {
    color:yellow
}

.c3 {
    color:rgb(169, 169, 2)
}
